img{
    width: 950px;
    
    
}
body {
   background: url(../img/d6efdf562e552cf57c7d40c18431af89.jpeg)no-repeat;
    font-family: fantasy;
    
}

h1 {
    margin:auto;
    color: #000000;
         text-align: center;
}
a {
    color: #9d00ff;
    
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    
    text-decoration: none ;
    padding: 9px 26px;
    
        

}
div{
    background: #ffffff;
    box-shadow: 0 0px 69px #ffffff;
}
.zoo{background: #fff;
	width: 1000px;
	padding: 16px 44px;
    margin: 0 auto;
    border-radius: 20px
}
img{
    padding: 10px;
    border-radius: 20px;
}
a:hover{
    border-radius: 20px;
    transition: 1s;
}

